@page
@model GameMasterModel
@{
    ViewData["Title"] = "Bat Overlord";
}
@section Scripts {
    <style>

        #table {
            width: 100%;
            display: table;
        }

        #table-body {
            display: table-row-group;
        }

        #table-row {
            display:table-row;
        }

        #table-cell {
            display: table-cell;
        }
    </style>
}


<div>
    <img src="@Model.GetTurnTrack()" />
</div>

    <div class="table">
        
    </div>
<div>
    
    <img src="@Model.CurrentActionUri" />
</div>
<form method="post">
    <fieldset>

        <input type="submit" value="Advance Turn" id="nextButton" />
    </fieldset>
</form>

<div>
    <h2>History</h2>
    @foreach (var item in Model.History.Reverse())
    {
        <table>
            @Html.DisplayFor(x => item, "HistoryItem")
        </table>
    }
</div>


